html,body{margin:0;padding:0;height:100%;}
#main{
	width:100%;
	height:100%;
	border-radius:5px;
	border:1px solid crimson;
	text-align:center;
}
@media screen and(min-width:800px){
	#main{ width:800px;}
}
#select{
	
}
#canvas{
	border:1px solid crimson;
	
}

#canvas{
	width:100%;
	height:100%;
	border-radius:5px;
	border:1px solid blue;
	text-align:center;
}
@media screen and(min-width:800px){
	#canvas{ width:800px;}
}