html,body{margin:0;padding:0;height:100%;}
#main{
	width:100%;
	height:100%;
	background-image:url(../img/main.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align:center;
}
@media screen and(min-width:800px){
	#main{ width:800px;
	}
}
#canvas{
	width:100%;
	height:100%;
}
@media screen and(min-width:800px){
	#canvas{ width:800px;}
}
#main label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: #999; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 2px solid black; 
	border-radius: .25em; 
	font-size: 2em; 
	overflow:hidden;
	
	width:55%;
	height:40%;
} 
#main #btn{
	display: inline-block; 
	padding: .5em .75em; 
	color: #999; 
	font-size: 1em; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 2px solid black; 
	border-radius: .25em; 
	
	width:20%;
	height:12%;
}
#main input[type="file"] { /* 파일 필드 숨기기 */ 
	position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; 
}
#a,#b,#c,#d,#e,#f,#g{
	width:15%;
	height:15%;
}
#control {
	width:100%;
	height:40%;
}

